<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>dircetive</title>
		<link rel="stylesheet" href="../libs/bootstrap-3.3.5/css/bootstrap.min.css" />
		<link rel="stylesheet" href="style.css" />
		<script src="../libs/jquery1.11.3/jquery-1.11.3.min.js"></script>
		<script src="../libs/bootstrap-3.3.5/js/bootstrap.min.js"></script>
		<script src="../libs/angular1.4.12/angular.js"></script>
	</head>
	<body ng-app="myApp">
		<div class="container">
			<div>
				<hello></hello>
			</div>
			<div>
				<menu></menu>
			</div>
			<div>
				<tran></tran>
				<tran>这是新内容</tran>
				<tran><div>这也是111</div></tran>
				<tran><div><div>这也是222</div></div></tran>
				<tran><div><div><div>这也是333</div></div></div></tran>
			</div>
			
			<div ng-controller="FirstController">
				<div ng-repeat="a in arr">
					<span ng-bind="a"></span>.<hello2></hello2>
				</div>
			</div> 
			
			<div ng-controller="secondController" class="box">
				<hello3 class="expander" mata-title="title">
					<span ng-bind="text"></span>
				</hello3>
			</div>
			
			<div ng-controller="threeController" class="box">
				<hello4 class="expander" mata-title="{{title}}">
					<span ng-bind="text"></span>
				</hello4>
			</div>
			
			<div ng-controller = "someController">
				<accordion>
					<expander class="expander" ng-repeat="expander in expanders" expander-title='expander.title'>
						<span ng-bind="expander.text"></span>
					</expander>
				</accordion>
			</div>
		</div>
		
		<script src="app.js"></script>
	</body>
</html>
